<!doctype html>
<html lang="en">
<%- include("partials/head", { title: "Pickleball Plus" }); %>
<body>
    <%- include("partials/header"); %>
    <div id="main">
        <div class="text">
            <h1>Welcome to Pickleball Plus!</h1>
            <p>Pickleball plus is the ultimate destination to sell and buy used or custom
            pickleball accessories. From paddles and shoes to grip tape and balls, Pickleball
            Plus has it all.
            </p>
        </div>
    </div>
</body>
<%- include("partials/footer"); %>
</html>